* {
	box-sizing: border-box;
}

body {
	margin: 5px;
	color: white;
	background-color: black;
	font-size: 30px;
}

.app--container {
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.corner--top-left,
.corner--top-right {
	padding: 0px 10px;
}

.corner--top-right {
	grid-area: 1 / 3 / 2 / -1;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
