.clock--container {
	padding: 5px;
	position: relative;
	right: 10px;
}

.clock--houres {
	font-size: 110px;
	position: relative;
	bottom: 10px;
}

.clock--minutes {
	opacity: 0.5;
	font-size: 50px;
	position: relative;
	bottom: 50px;
	right: 2px;
}

.clock--uhr {
	opacity: 0.8;
	position: relative;
	padding: 5px;
	left: 110px;
	bottom: 85px;
	font-size: 40px;
}
