.poke--container {
	position: relative;
	bottom: 100px;
	left: 10px;
	text-align: center;
}

.pokemon--image {
	max-width: 120px;
	-webkit-filter: grayscale(100%);
}

.pokemon--name {
	position: relative;
	bottom: 30px;
	font-size: 12px;
}
