.weather--container {
	grid-area: 1 / 3 / -1 / -1;
	font-size: 20px;
}

.weather--now {
	display: grid;
}

.weather--forecast {
	display: flex;
}

.forecast--item {
	display: flex;
}

.forecast--icon {
	width: 30px;
}
